body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
p{
    text-align: justify;
}
h2{
    font-size: 40px;
}
.flexibility-content{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.first-image{
    padding-top: 12%;
}
section img{
    width: 80%;
    padding-top: 7%;
}
#top-banner{
    background-image: url(../images/top.png);
    background-repeat: no-repeat;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.dream-content{
    width: 87%;
}
.content{
    padding-top: 3%;
}
#dream-developer{
    background-image: url("../images/right.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experience-title{
    padding-left: 5%;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 2% 4%;
}
.left-background{
    background: url(../images/left.jpg);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack-experience{
    border-left: 8px solid;
    border-image: linear-gradient(orange,blue);
    border-image-slice:1 ;
}
#web-developer-experience{
    border-left: 8px solid;
    border-image: linear-gradient(blue,orange);
    border-image-slice:1 ;
}
footer p{
    text-align: center;
}